@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

@theme {
    --font-sans: "Poppins", sans-serif;
}

@layer base {
    body {
        @apply font-sans text-gray-800 text-xs sm:text-sm;
    }

    button {
        @apply cursor-pointer select-none;
    }

    hr {
        @apply border-gray-300 my-2
    }
}

@layer components {
    .widget {
        @apply relative w-full mx-auto sm:w-md md:w-lg lg:w-2xl transition pb-2
    }

    .verticalDivider {
        @apply border border-gray-400 h-4
    }
}

/* Scrollbar moderne et fine */
::-webkit-scrollbar {
    width: 6px;              /* largeur fine */
    height: 6px;             /* si horizontal */
}

::-webkit-scrollbar-track {
    background: transparent; /* invisible par défaut */
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2); /* léger, quasi transparent */
    border-radius: 9999px;          /* arrondi max */
    transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4); /* un peu plus visible au hover */
}

/* Pour Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(0,0,0,0.2) transparent;
}

* :hover {
    scrollbar-color: rgba(0,0,0,0.4) transparent;
}